@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: Chunkfive;
	src: url('angillatattoopersonaluseonly.ttf');
}

@font-face {
	font-family: Chunkfive10;
	src: url('edwardian.ttf');
}

@font-face {
	font-family: Chunkfive1;
	src: url('fetteunzfraktur.ttf');
}
@font-face {
	font-family: Chunkfive2;
	src: url('h74rbl.ttf');
}
@font-face {
	font-family: Chunkfive3;
	src: url('impact.ttf');
}
@font-face {
	font-family: Chunkfive4;
	src: url('kgkissmeslowly.ttf');
}
@font-face {
	font-family: Chunkfive5;
	src: url('lhfbostontruckstylec.ttf');
}
@font-face {
	font-family: Chunkfive6;
	src: url('lintsec.ttf');
}
@font-face {
	font-family: Chunkfive7;
	src: url('oklahoma.ttf');
}
@font-face {
	font-family: Chunkfive8;
	src: url('oldeenglish.ttf');
}
@font-face {
	font-family: Chunkfive9;
	src: url('sanchezregular.ttf');
}